{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.badlogicgames.gdx/gdx {:mvn/version "1.12.1"}
        com.badlogicgames.gdx/gdx-backend-lwjgl3 {:mvn/version "1.12.1"}
        com.badlogicgames.gdx/gdx-platform$natives-desktop {:mvn/version "1.12.1"}
        nrepl/nrepl {:mvn/version "1.3.0"}}
 :paths ["core/src/main/clj" "core/src/main/java"]
 :aliases {:compile
           {:main-opts ["-e" "(compile 'gzmask.game1.main)"]}}}
